<table>
    <tr>
        <!-- Trimester 1 final review links -->
        <td><a href="{{site.baseurl}}/tri1">Trimester 1</a></td>
        <td><a href="{{site.baseurl}}/tri1final/mcq">MCQ Review</a></td>
        <td><a href="{{site.baseurl}}/tri1final/tools">Tools & Journey</a></td>
        <td><a href="{{site.baseurl}}/tri1final/study">Study Blog</a></td>
        <td><a href="{{site.baseurl}}/tri1final/quest">Quest Blog</a></td>
        <td><a href="{{site.baseurl}}/tri1final/natm">N@tM Reflection</a></td>
        <td><a href="{{site.baseurl}}/tri1final">Trimester 1 Final</a></td>
    </tr>
</table>